In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
from sklearn.preprocessing import OneHotEncoder


# Creation of user_df, a DataFrame with informations about Archived Users

users = []

for filepath in glob.iglob('Users/Archived users/*.txt'):
    users.append(filepath[-14:-4])

# print(users)
user_number = len(users)    # number of users

user_df = pd.DataFrame(users, columns = ["Users"])

# Create columns

col_index = []

file = open('Users/Archived users/User_' + str(users[0]) + ".txt")
lines = file.read().split("\n")
ll = len(lines)

for l in range(ll-1):
    sl = lines[l].split(": ", 1)
    col_index.append(sl[0])

# print(col_index)

# Create values

values_list = []
values = []

for i in range(user_number):
    file = open('Users/Archived users/User_' + str(users[i]) + ".txt")
    lines = file.read().split("\n")
    for l in range(ll-1):
        sl = lines[l].split(": ", 1)
        v = sl[1]
        values.append(v)
    values_list.append(values)
    values = []

# Insert values in user_df

value_df = pd.DataFrame(values_list, columns = col_index)

# print (value_df)

user_df = pd.concat([user_df, value_df], axis = 1)

# print(user_df)

# Creation of tappydata_df, a DataFrame with informations about Archived Data

tappydata = []

for filepath in glob.iglob('Data/Tappy Data/*.txt'):
    file = open(filepath)
    lines = file.read().split("\n")
    for l in range(len(lines)-1):
        x = lines[l]
        x = x.split("\t")
        tappydata.append(x)

tappydata_df = pd.DataFrame(tappydata, columns = ["Users", "Date", "Datetime", "TapPosition", "Hold", "Movement", "Latency", "Flight", "*"])

# print(tappydata_df)

all_userdata_df = pd.merge(tappydata_df, user_df, how='inner', left_on='Users', right_on='Users')
#

all_userdata_df = all_userdata_df[all_userdata_df.Impact != "Severe"]
all_userdata_df = all_userdata_df[all_userdata_df.Impact != "Medium"]

all_userdata_df = all_userdata_df[all_userdata_df.Levadopa == "False"]

# counts = all_userdata_df['Users'].value_counts()
# print(counts)

In [3]:
#counts_parkinson = all_userdata_df[all_userdata_df["Parkinsons"] == "True"]
#counts_parkinson.nunique()

# quindi ciamo 34 malati e 55 sani

counts = all_userdata_df['Users'].value_counts()
#avg = all_userdata_df.shape[0] / len(counts)
#print(avg)  # numero medio di tap per ogni utente

#counts.plot(kind = "hist")
#counts.plot(kind = "hist", range = [0, 50])

# togliere da dopo 1000 a ???
# se togliamo i 3 che fanno tanti tap (3/4/5/600 k) Che succede??? quei dati influenzano troppo?

all_userdata_df = all_userdata_df[all_userdata_df['Users'].isin(counts[counts > 1000].index)]
all_userdata_df = all_userdata_df[all_userdata_df['Users'].isin(counts[counts < 100000].index)]

#all_userdata_df.head()

# non leviamo i tap con lo spazio !!!

all_userdata_df = all_userdata_df.drop(["Users", "Date", "Datetime", "Flight", "*", "Tremors", "DiagnosisYear", "Sided", "UPDRS","Impact","Levadopa", "DA","MAOB", "Other"], axis=1)

# completata la pulizia

In [4]:
#print(len(all_userdata_df.loc[158453]))



# counts_Rhold = all_userdata_df[all_userdata_df["Latency"] == 'SOP2REQFUH']
# print(counts_Rhold)
# counts_Rhold.head()
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='01CAXCJIKLYM'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='EF9XEFXPBN'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='01IDYIDJBAXF'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='K2VMDST8HC'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='LSQWWDXEYO'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='04LSQWWDXEYO'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='0NMMGWRY6SO'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='08:27:14.043'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='01QCFNDCZPQH'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='09:11:16.406'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='S9C3TTX3NE'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='SOP2REQFUH'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='05SOP2REQFUH'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='0613.SOP2REQFUH'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='04TL2XHTLK1T'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='12:12:50.477'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='0218.VSBEPFSFWK'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='21:38:52.695'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Latency']=='07YQSGN9BMVK'].index, inplace=True)
all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['BirthYear']==''].index, inplace=True)

In [5]:
# print(all_userdata_df.index[719771])
# sum = 0
# for i in all_userdata_df.index:
#     for j in range(0, all_userdata_df.shape[1]):
#         sum += len(all_userdata_df.iloc[i, j])
#     print (sum)
# sum = 0
# for j in range(0, all_userdata_df.shape[1]):
#     sum += len(all_userdata_df.iloc[719771, j])
# print (sum)


#7006976


# counts_by = all_userdata_df[all_userdata_df["UPDRS"] == '11:47:33.844	']
# print(counts_by)
# counts_by.head()

# for i in all_userdata_df.index:
#         print iloc[all_userdata_df.index(1), j]

# all_userdata_df.apply(lambda row: row.astype(str).str.contains('11:47:33.844	').any(), axis=1)

In [6]:
#all_userdata_df.head()

# le colonne ora sono: tap position (L/R), Hold, Movement, BirthYear, Gender, Parkinsons (T/F)
# rimuovo gli utenti senza data di nascita, perche mi serve per calcolare l'eta

#all_userdata_df = all_userdata_df[(all_userdata_df.BirthYear != "")]

#all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Hold']=='R'].index, inplace=True)



# normalizzazione
# L/R - Gender - Parkinson : devono diventare campi binari del tipo 0/1
# movement : lo codifichiamo con onehot dividendolo in 4 colonne
# latency - hold : sono dei float
# age (ottenuta da 2017 - birthyear) : int

#all_userdata_df = all_userdata_df.rename(columns = {"TapPosition" : "RightTap"}) ##### perche ci sta anche S

#all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Hold']=='R'].index, inplace=True)
#all_userdata_df.drop(all_userdata_df.loc[all_userdata_df['Hold']=='16:15:50.375'].index, inplace=True)

# RICONTROLLARE PERCHE ESCE LA R SULLA COLONNA HOLD (RIGA 409197)

from sklearn.preprocessing import OneHotEncoder
all_userdata_df.TapPosition.replace(['R', 'L', 'S'], [0, 1, 2], inplace = True)
# va fatto il onehot

all_userdata_df.Movement.replace(['LL', 'LR', 'RR', 'RL', 'LS', 'SL', 'RS', 'SR', 'SS'], [0, 1, 2, 3, 4, 5, 6, 7, 8], inplace = True)
# va fatto il onehot

all_userdata_df.Hold = all_userdata_df.Hold.astype(float) # se ci sono problemi e per colpa dei file .txt

# TOGLIERE COMMENTO E CAPIRE PERCHE NON FUNZIONA (CANT CONVERT STRING TO FLOAT)
#counts_ss = all_userdata_df[all_userdata_df["Movement"] == "SS"]

all_userdata_df.Latency = all_userdata_df.Latency.astype(float) # se ci sono problemi e per colpa dei file .txt
# TOGLIERE COMMENTO E CAPIRE PERCHE NON FUNZIONA (CANT CONVERT STRING TO FLOAT)

all_userdata_df.BirthYear = all_userdata_df.BirthYear.astype(int)
#all_userdata_df.BirthYear = 2017 - all_userdata_df.BirthYear
#all_userdata_df = all_userdata_df.rename(columns = {"BirthYear" : "Age"}) # perche adesso e espresso in termini di eta

all_userdata_df.Gender.replace(['Male', 'Female'], [1, 0], inplace=True)

all_userdata_df.Parkinsons.replace(['True', 'False'], [1, 0], inplace=True)

all_userdata_df.head()

,Users,Date,Datetime,TapPosition,Hold,Movement,Latency,Flight,*,BirthYear,...,Parkinsons,Tremors,DiagnosisYear,Sided,UPDRS,Impact,Levadopa,DA,MAOB,Other
158453,0QAZFRHQHW,160916,19:20:43.891,1,78.1,0,312.5,0257.8,,1959,...,0,False,------,None,Don't know,------,False,False,False,False
158454,0QAZFRHQHW,160916,19:20:44.344,1,78.1,0,453.1,0375.0,,1959,...,0,False,------,None,Don't know,------,False,False,False,False
158455,0QAZFRHQHW,160916,19:20:44.742,1,62.5,0,414.1,0335.9,,1959,...,0,False,------,None,Don't know,------,False,False,False,False
158456,0QAZFRHQHW,160916,19:20:45.516,1,93.8,0,742.2,0679.7,,1959,...,0,False,------,None,Don't know,------,False,False,False,False
158457,0QAZFRHQHW,160916,19:20:46.047,0,101.6,1,523.4,0429.7,,1959,...,0,False,------,None,Don't know,------,False,False,False,False

In [7]:
# onehot di tap position e movement

OneHotTapPosition = pd.get_dummies(all_userdata_df.TapPosition)
OneHotMovement = pd.get_dummies(all_userdata_df.Movement)

OneHotMovement = OneHotMovement.rename(columns = {0: "LL", 1: "LR", 2: "RR", 3: "RL", 4: "LS", 5: "SL", 6: "RS", 7: "SR", 8: "SS"})
all_userdata_df = all_userdata_df.drop(["Movement"], axis=1)

OneHotTapPosition = OneHotTapPosition.rename(columns = {0: "TapR", 1: "TapL", 2: "TapS"})
all_userdata_df = all_userdata_df.drop(["TapPosition"], axis=1)

all_userdata_df = pd.concat([all_userdata_df, OneHotTapPosition, OneHotMovement], axis=1)

In [13]:
all_userdata_df.head(20)

#print(all_userdata_df)

# for j in all_userdata_df:
#     print(j)

,Hold,Latency,BirthYear,Gender,Parkinsons,TapR,TapL,TapS,LL,LR,RR,RL,LS,SL,RS,SR,SS
158453,78.1,312.5,1959,0,0,0,1,0,1,0,0,0,0,0,0,0,0
158454,78.1,453.1,1959,0,0,0,1,0,1,0,0,0,0,0,0,0,0
158455,62.5,414.1,1959,0,0,0,1,0,1,0,0,0,0,0,0,0,0
158456,93.8,742.2,1959,0,0,0,1,0,1,0,0,0,0,0,0,0,0
158457,101.6,523.4,1959,0,0,1,0,0,0,1,0,0,0,0,0,0,0
158458,93.8,203.1,1959,0,0,1,0,0,0,0,1,0,0,0,0,0,0
158459,109.4,289.1,1959,0,0,0,1,0,0,0,0,1,0,0,0,0,0
158460,214.8,316.4,1959,0,0,1,0,0,0,1,0,0,0,0,0,0,0
158461,66.4,382.8,1959,0,0,1,0,0,0,0,1,0,0,0,0,0,0
158462,93.8,562.5,1959,0,0,0,1,0,0,0,0,1,0,0,0,0,0
158463,187.5,453.1,1959,0,0,1,0,0,0,0,1,0,0,0,0,0,0
158464,109.4,265.6,1959,0,0,1,0,0,0,0,1,0,0,0,0,0,0
158465,156.3,515.6,1959,0,0,1,0,0,0,1,0,0,0,0,0,0,0
158466,109.4,515.6,1959,0,0,1,0,0,0,0,1,0,0,0,0,0,0
158467,89.8,386.7,1959,0,0,0,1,0,1,0,0,0,0,0,0,0,0
158468,89.8,722.7,1959,0,0,0,1,0,1,0,0,0,0,0,0,0,0
158469,93.8,437.5,1959,0,0,0,1,0,1,0,0,0,0,0,0,0,0
158470,113.3,554.7,1959,0,0,1,0,0,0,1,0,0,0,0,0,0,0
158471,82.0,222.7,1959,0,0,1,0,0,0,0,1,0,0,0,0,0,0
158472,74.2,234.4,1959,0,0,0,1,0,0,0,0,1,0,0,0,0,0